.vscode/**
.vscode-test/**
src/**
.deepwiki/**
docs/**
test_vscode_L3/**
.gitignore
.yarnrc
.eslintignore
.eslintrc.cjs
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
